:root {
	--first-bg-color: blue;
	--main-txt-color: yellow;
	--logo-width: 500px;
}
body {
	height: 100vh;
	background: var(--first-bg-color);
	cursor: none;
	margin: 0;
	display: flex;
	font-family: monospace;
	overflow: hidden;
}
body h1,
body p,
body a {
	color: #fff;
}
body a {
	padding: 10px 0;
	margin-top: 25px;
}
body .cursor {
	pointer-events: none;
}
body .cursor__ball {
	position: fixed;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
	z-index: 1000;
}
body .cursor__ball circle {
	fill: var(--main-txt-color);
}
body .left,
body .right {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body .right {
	background: #fff;
}
body .right h1,
body .right p,
body .right a {
	color: #000;
}
p {
	font-size: 12pt;
}
.logo {
	transition: 1s;
	left: calc(100vw/2 - (var(--logo-width) / 2 - 5px));
	position: absolute;
}
.logo img {
	width: var(--logo-width);
	-webkit-user-drag: none;
}
#hoverable-photo {
	opacity: 0;
	width: 180px;
	position: absolute;
	z-index: -2;
	transition: .5s;
}
.emoji {
	margin-bottom: -8px;
	height: 24px;
}
.get-in {
	font-size: 12pt;
}
/* -webkit-user-drag: none; */
